<!DOCTYPE html>
<html class="loginHtml" lang="zh"
	  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<link rel="icon" th:href="@{/images/favicon.ico}" href="../static/images/favicon.ico">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css" media="all" />
</head>
<body class="loginBody">
	<form class="layui-form" th:action="@{/login}" method="POST" style="height: 360px">
		<div class="login_face"><img th:src="@{/images/face.jpg}" src="../static/images/face.jpg" class="userAvatar"></div>
			<div class="layui-form-item input-item" th:align="center">
				<span th:if="${param.error}">用户名或密码错误！</span>
				<span th:if="${param.code}">验证码错误！</span>
				<span th:if="${param.logout}">你已经退出！</span>
				<span th:if="${param.disabled}">账号已禁用，请联系管理员启用！</span>
			</div>
		<div class="layui-form-item input-item">
			<label for="username">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" id="username" name="username" class="layui-input" lay-verify="required" required>
		</div>
		<div class="layui-form-item input-item">
			<label for="password">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" id="password" name="password" class="layui-input" lay-verify="required" required>
		</div>
		<div class="layui-form-item input-item" id="imgCode">
			<label for="code">验证码</label>
			<input type="text" placeholder="请输入验证码" autocomplete="off" id="code" name="code" class="layui-input" lay-verify="required" required>
			<img id="loginCode"  th:src="@{/loginValidateCode}" style="height: 37px;width: 100px;">
		</div>
		<div style="margin-bottom: 10px">
			<input type="checkbox" lay-skin="primary" name="remember-me" id="remember-me" value="true">
			<label for="remember-me">一周不登录</label>
		</div>
		<div class="layui-form-item">
			<button type="submit" class="layui-btn layui-block" lay-filter="login" >登录</button>
		</div>
<!--		<div class="layui-form-item layui-row">
			<a th:href="@{/}" href="javascript:;" class="seraph icon-qq layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a th:href="@{/}" href="javascript:;" class="seraph icon-wechat layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a th:href="@{/}" href="javascript:;" class="seraph icon-sina layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
		</div>-->
	</form>
	<script type="text/javascript" th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
	<script type="text/javascript" th:src="@{/js/login.js}" src="../static/js/login.js"></script>
<!--	<script type="text/javascript" th:src="@{/js/cache.js}" src="../static/js/cache.js"></script>-->
</body>
</html>